@page "/instagramQuiz"

@inject IJSRuntime JSRuntime

<link href="css/instagramQuiz.css" rel="stylesheet"/>

<PageTitle>Instagram quiz</PageTitle>

<script>
    window.deselectPreviousAnswers = function () {
        var radios = document.querySelectorAll('input[type="radio"]');
        radios.forEach(function (radio) {
            radio.checked = false;
        });
    }
</script>

<div class="intestazionePagina">
    <h1 class="intestazione"><strong>QUIZ SU INSTAGRAM</strong></h1>
    <h4 class="intestazione"><strong>Mettiti alla prova e divertiti con il nostro quiz su Instagram!</strong></h4>
</div>

<h2><strong>Rispondi alle seguenti domande per completare il quiz:</strong></h2>

@foreach (var question in Questions)
{
    <div class="domanda">
        <h4 class="domandaH4"><strong>@question.QuestionText</strong></h4>
        <ul class="opzioni">
            @foreach (var answer in question.Answers)
            {
                <li><label><input type="radio" name="@question.Id" @onclick="() => question.SelectedAnswer = answer.AnswerText"><strong>@answer.AnswerText</strong></label></li>
            }
        </ul>
    </div>
}

<div class="punteggio">
    <button @onclick="calcolaPunteggio"><strong>PUNTEGGIO</strong></button>
    <button @onclick="ritentaQuiz"><strong>RITENTA IL QUIZ</strong></button>
</div>

<h3><strong>Punteggio: @score / @Questions.Count</strong></h3>

@if (risposteUtente.Any())
{
    <h3 class="statistiche">Statistiche risposte:<strong></strong></h3>

    <ul class="statistiche">
        @foreach (var domanda in Questions)
        {
            var risposteDomanda = risposteUtente.Where(r => r.DomandaId == domanda.Id);
            var risposteCorrette = risposteDomanda.Count(r => r.RispostaCorretta);
            var risposteErrate = risposteDomanda.Count() - risposteCorrette;

            <li>
                <strong>
                    Domanda: @domanda.QuestionText - Risposte corrette: @risposteCorrette, risposte errate: @risposteErrate
                    @if (risposteErrate > 0)
                    {
                        <span style="color: limegreen"><strong>  Risposta corretta: @domanda.Answers.FirstOrDefault(a => a.IsCorrect)?.AnswerText</strong></span>
                    }
                </strong>
            </li>
        }
    </ul>
}

<h5><strong>Quiz disponibili => <NavLink href="/quiz">QUIZ DISPONIBILI</NavLink></strong></h5>

@code {
    private class Answer
    {
        public string AnswerText { get; set; } = string.Empty;
        public bool IsCorrect { get; set; } = false;
    }

    private class Question
    {
        public string Id { get; set; } = string.Empty;
        public string QuestionText { get; set; } = string.Empty;
        public List<Answer> Answers { get; set; } = [];
        public string SelectedAnswer { get; set; } = string.Empty;
    }

    private class RispostaUtente
    {
        public string DomandaId { get; set; } = string.Empty;
        public string RispostaData { get; set; } = string.Empty;
        public bool RispostaCorretta { get; set; } = false;
    }

    private List<Question> Questions = new List<Question>()
    {
       new Question
       {
           Id = "q1",
           QuestionText = "1) Chi è il fondatore di Instagram?",
           Answers = new List<Answer>
           {
                new Answer { AnswerText = "Mark Zuckerberg", IsCorrect = false },
                new Answer { AnswerText = "Kevin Systrom", IsCorrect = true },
                new Answer { AnswerText = "Jack Dorsey", IsCorrect = false },
                new Answer { AnswerText = "Evan Spiegel", IsCorrect = false }
           }
       },

       new Question
       {
           Id = "q2",
           QuestionText = "2) Qual è stata la data di lancio di Instagram?",
           Answers = new List<Answer>
           {
                new Answer { AnswerText = "Ottobre 2010", IsCorrect = false },
                new Answer { AnswerText = "Aprile 2012", IsCorrect = false },
                new Answer { AnswerText = "Giugno 2011", IsCorrect = true },
                new Answer { AnswerText = "Agosto 2013", IsCorrect = false }
           }
       },

       new Question
       {
           Id = "q3",
           QuestionText = "3) Quale è il limite massimo di caratteri per una didascalia su Instagram?",
           Answers = new List<Answer>
           {
                new Answer { AnswerText = "140 caratteri", IsCorrect = false },
                new Answer { AnswerText = "280 caratteri", IsCorrect = false },
                new Answer { AnswerText = "2200 caratteri", IsCorrect = false },
                new Answer { AnswerText = "Non c'è limite", IsCorrect = true }
           }
       },

       new Question
       {
           Id = "q4",
           QuestionText = "4) Quale filtro permette agli utenti di vedere le loro foto con un effetto vintage su Instagram?",
           Answers = new List<Answer>
           {
                new Answer { AnswerText = "Lo-fi", IsCorrect = true },
                new Answer { AnswerText = "Valencia", IsCorrect = false },
                new Answer { AnswerText = "Juno", IsCorrect = false },
                new Answer { AnswerText = "Nashville", IsCorrect = false }
           }
       },

       new Question
       {
           Id = "q5",
           QuestionText = "5) Qual è la durata massima di un video su Instagram?",
           Answers = new List<Answer>
           {
                new Answer { AnswerText = "15 secondi", IsCorrect = false },
                new Answer { AnswerText = "30 secondi", IsCorrect = false },
                new Answer { AnswerText = "1 minuto", IsCorrect = true },
                new Answer { AnswerText = "3 minuti", IsCorrect = false }
           }
       },
    };

    private List<RispostaUtente> risposteUtente = new List<RispostaUtente>();

    private int score;

    private void calcolaPunteggio()
    {
        score = 0;
        risposteUtente.Clear();

        foreach (var question in Questions)
        {
            var selectedAnswer = question.Answers.FirstOrDefault(a => a.IsCorrect);
            var selectedRadio = question.Answers.FirstOrDefault(a => a.AnswerText == question.SelectedAnswer);

            if (selectedRadio != null)
            {
                var rispostaUtente = new RispostaUtente
                    {
                        DomandaId = question.Id,
                        RispostaData = selectedAnswer.AnswerText,
                        RispostaCorretta = selectedRadio.IsCorrect
                    };

                risposteUtente.Add(rispostaUtente);

                if (selectedRadio.IsCorrect)
                {
                    score++;
                }
            }
        }
    }

    private async Task ritentaQuiz()
    {
        foreach (var question in Questions)
        {
            question.SelectedAnswer = null;
        }

        score = 0;

        await JSRuntime.InvokeVoidAsync("deselectPreviousAnswers");
    }
}
